<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User Details</title>
</head>
<style>
h1{
color:red;
}
</style>
<body>
<form action="getData" method="post">
<h1>CUSTOMER DETAILS</h1>
	FIRST NAME<input type="text" name="firstName"><br>
	LAST NAME<input type="text" name="lastName"><br>
	EMAIL_ID<input type="text" name="emailId"><br>
	PHONE NUMBER<input type="text" name="phoneNumber"><br>
	ADDRESS<input type="text" name="address">
	<input type="SUBMIT">
</form>
</body>
</html>